<div class="right-column">
	<article class="article-content">
		{{ article.content|raw }}
	</article>
	{% include "Frontend/Article/_formCommentaires.html.twig" %}
	{% include "Frontend/Article/_commentaires.html.twig" %}
</div>
