{% extends "layout.html.twig" %}

{% block title %}
	Page d'accueil |
	{{ parent() }}
{% endblock %}

{% block body %}
	{% include "Home/_banner.html.twig" %}

	<div class="container mt-4">
		<div class="row">
			{% for article in articles %}
				<div class="col-md-4">
					<div class="blog-card">
						<div class="blog-card-image">
							<img src="https://fakeimg.pl/200x100" alt="">
						</div>
						<div class="blog-card-content">
							<h2 class="blog-card-header">{{ article.titre }}</h2>
							<p>{{ article.content }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
