{% extends "layout.html.twig" %}

{% block title %}
	Création d'un article |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container-fluid mt-4">
		<div class="card w-50 mx-auto p-3">
			<h1 class="text-center">Création d'un article</h1>
			{% include "Backend/Article/_form.html.twig" with { button_label: 'Créer' } %}
		</div>
	</div>
{% endblock %}
