{% extends "layout.html.twig" %}

{% block body %}
	<div class="container-fluid mt-4">
		<div class="card w-50 mx-auto p-3">
			<h1 class="text-center">Création d'un article</h1>
			{{ form_start(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
